@page "{id:int?}"
@model MegaDeskWebASP.DeleteModel

@{
    ViewData["Title"] = "Delete Quote";
}

<section>
    <div class="m-3">
        <h1>@ViewData["Title"]</h1>
        <h4>Are you sure you want to delete this Quote?</h4>
        <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeskModel.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeskModel.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeskModel.Width)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeskModel.Width)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeskModel.Depth)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeskModel.Depth)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeskModel.Drawers)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeskModel.Drawers)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeskModel.Material)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeskModel.Material)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DeskModel.Rush)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.DeskModel.Rush)
                </dd>
            </dl>

            <form method="post">
                <input type="hidden" asp-for="DeskModel.ID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-info" asp-page="./Index">Back to List</a>
            </form>
    </div>
</section>