@page "{id:int?}"
@model MegaDeskWebASP.DetailsModel

@{
    ViewData["Title"] = "Details";
}
<section>
    <div class="m-3">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeskModel.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeskModel.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeskModel.Width)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeskModel.Width)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeskModel.Depth)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeskModel.Depth)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeskModel.Drawers)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeskModel.Drawers)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeskModel.Material)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeskModel.Material)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeskModel.Rush)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeskModel.Rush)
            </dd>
            </dl>
        <div>
            <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.DeskModel.ID">Edit</a>
            <a class="btn btn-info" asp-page="./Index">Back to List</a>
        </div>
    </div>
</section>
