@page
@model MegaDeskWebASP.Pages.DeskPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Quote list</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Customer Name: <select asp-for="CustName" asp-items="Model.Names">
            <option value="">All</option>
        </select>
        

        Sort: <select asp-for="SortOrder">
            <option value="Newest">Newest</option>
            <option value="Oldest">Oldest</option>
            <option value="Name Descending">Name Descending</option>
            <option value="Name Ascending">Name Ascending</option>
        </select>

        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeskModel[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskModel[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskModel[0].Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskModel[0].Drawers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskModel[0].Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskModel[0].Rush)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskModel[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeskModel[0].TotalCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DeskModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Drawers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Material)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rush)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.TotalCost)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
